
@{
    ViewBag.Title = "CÀ PHÊ TẠI NHÀ - The coffee house";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<style>
   

    /*card*/
    .detail-image {
        border-radius: 15px;
        width:130%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

   .menu_item{

   }
   .menu_item_imgs{

   }

    .menu_item_imgs a img {
        height: 280px;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom:5%;
    }

    .menu_item_info h3 {
        font-size: 15px;
        color: #191919;
        cursor:pointer;
        transition: all ease-in-out 0.5s;
    }
        .menu_item_info h3:hover {
            color: #ea8025;
        }
</style>

<div class="container mt-5">
    <h2 class="mb-5 ">
        Cà Phê Tại Nhà
    </h2>
    @*<table class="menu-home" style="border-spacing:12px;width:50%">
            <tbody>
                <tr>
                    <td>
                        <div class="card-home">
                            <img class="detail-image" src="~/Images/cafe.png" alt="#" />
                            <a style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">The Coffe House Sữa Đá</a>
                            <span style="color:#ccc">69.000đ</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>*@

    <div class="container" style="margin: auto auto">
    <div class="row align-items-start mb-5">
        <div class="col m-1">

            <div class="menu_item">
                <div class="menu_item_imgs">
                    <a href="#" title="Cà phê sữa espresso">
                        <img src="~/Images/caphesua.png" />
                    </a>
                </div>
                <div class="menu_item_info">
                    <h3>
                        Thùng Cà Phê Sữa Espresso
                    </h3>
                    <span style="color:#ccc">50.000 đ</span>
                </div>
            </div>

        </div>

        <div class="col m-1">

            <div class="menu_item">
                <div class="menu_item_imgs">
                    <a href="#" title="Cà phê sữa espresso">
                        <img src="~/Images/caphesua.png" />
                    </a>
                </div>
                <div class="menu_item_info">
                    <h3>
                        Thùng Cà Phê Sữa Espresso
                    </h3>
                    <span style="color:#ccc">50.000 đ</span>
                </div>
            </div>

        </div>

        <div class="col m-1">

            <div class="menu_item">
                <div class="menu_item_imgs">
                    <a href="#" title="Cà phê sữa espresso">
                        <img src="~/Images/caphesua.png" />
                    </a>
                </div>
                <div class="menu_item_info">
                    <h3>
                        Thùng Cà Phê Sữa Espresso
                    </h3>
                    <span style="color:#ccc">50.000 đ</span>
                </div>
            </div>

        </div>

        <div class="col m-1">

            <div class="menu_item">
                <div class="menu_item_imgs">
                    <a href="#" title="Cà phê sữa espresso">
                        <img src="~/Images/caphesua.png" />
                    </a>
                </div>
                <div class="menu_item_info">
                    <h3>
                        Thùng Cà Phê Sữa Espresso
                    </h3>
                    <span style="color:#ccc">50.000 đ</span>
                </div>
            </div>

        </div>



    </div>

    <div class="row align-items-start mb-5">
        <div class="col m-1">

            <div class="menu_item">
                <div class="menu_item_imgs">
                    <a href="#" title="Cà phê sữa espresso">
                        <img src="~/Images/caphesua.png" />
                    </a>
                </div>
                <div class="menu_item_info">
                    <h3>
                        Thùng Cà Phê Sữa Espresso
                    </h3>
                    <span style="color:#ccc">50.000 đ</span>
                </div>
            </div>

        </div>

        <div class="col m-1">

            <div class="menu_item">
                <div class="menu_item_imgs">
                    <a href="#" title="Cà phê sữa espresso">
                        <img src="~/Images/caphesua.png" />
                    </a>
                </div>
                <div class="menu_item_info">
                    <h3>
                        Thùng Cà Phê Sữa Espresso
                    </h3>
                    <span style="color:#ccc">50.000 đ</span>
                </div>
            </div>

        </div>

        <div class="col m-1">

            <div class="menu_item">
                <div class="menu_item_imgs">
                    <a href="#" title="Cà phê sữa espresso">
                        <img src="~/Images/caphesua.png" />
                    </a>
                </div>
                <div class="menu_item_info">
                    <h3>
                        Thùng Cà Phê Sữa Espresso
                    </h3>
                    <span style="color:#ccc">50.000 đ</span>
                </div>
            </div>

        </div>

        <div class="col m-1">

            <div class="menu_item">
                <div class="menu_item_imgs">
                    <a href="#" title="Cà phê sữa espresso">
                        <img src="~/Images/caphesua.png" />
                    </a>
                </div>
                <div class="menu_item_info">
                    <h3>
                        Thùng Cà Phê Sữa Espresso
                    </h3>
                    <span style="color:#ccc">50.000 đ</span>
                </div>
            </div>

        </div>



    </div>


</div>


</div>
