
@{
    ViewBag.Title = "CÀ PHÊ TẠI NHÀ - The coffee house";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<style>
   

    /*card*/
    .detail-image {
        border-radius: 15px;
        height: 280px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .card-home {
        width: 250px;
        display: flex;
        flex-direction: column;
    }

   
</style>

<div class="container mt-5">
    <h2 class="mb-5">
        Cà Phê Tại Nhà
    </h2>
    <table class="menu-home" style="border-spacing:12px;width:50%">
        <tbody>
            <tr>
                <td>
                    <div class="card-home">
                        <img class="detail-image" src="~/Images/cafe.png" alt="#" />
                        <a style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">The Coffe House Sữa Đá</a>
                        <span style="color:#ccc">69.000đ</span>
                    </div>
                </td> 
            </tr>
        </tbody>
    </table>
</div>



